<%- include("./partials/header") %>
  <div class="size-full flex flex-row justify-center">
    <div class="card">
      <h2 class="text-lg font-bold"><%= title %></h2>
      <p><%= message %></p>
    </div>
  </div>
</body>
</html>
