name: Terraform Plan and Apply
on:
  workflow_run:
    workflows: ["Build and publish image"]
    types: [completed]

jobs:
  terraform:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    environment: ${{ github.event.workflow_run.head_branch == 'main' && 'Production' || 'Sandbox' }}
    runs-on: ubuntu-latest
    # workaround for "context access might be invalid warning"
    env:
      IMAGE_REPO: ghcr.io/bcgov/otp-provider
      IMAGE_TAG: dev
      TF_STATE_BUCKET_NAME:
      TF_STATE_BUCKET_KEY:
      TF_STATE_BUCKET_REGION:
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - name: Get latest tag
        id: tag
        run: |
          if [ "${{ github.event.workflow_run.head_branch }}" == "main" ]; then
            echo "IMAGE_TAG=$(git describe --tags --abbrev=0)" >> $GITHUB_ENV
          else
            echo "IMAGE_TAG=dev" >> $GITHUB_ENV
          fi

      - name: Set global environment variables
        run: |
          cat >> $GITHUB_ENV <<EOF
          TF_VAR_ches_username=${{ secrets.CHES_USERNAME }}
          TF_VAR_ches_password=${{ secrets.CHES_PASSWORD }}
          TF_VAR_otp_cwlogs_group=/aws/ecs/fargate/otp-provider
          TF_STATE_BUCKET_KEY=otp-provider.tfstate
          TF_STATE_BUCKET_REGION=ca-central-1
          TF_VAR_image_repo=${{ env.IMAGE_REPO }}
          EOF
      - name: Set sandbox environment variables
        if: github.event.workflow_run.head_branch == 'SSOTEAM-2579'
        run: |
          cat >> $GITHUB_ENV <<EOF
          TF_STATE_BUCKET_NAME=otp-provider-tf-sandbox
          TF_VAR_otp_image_tag=latest
          TF_VAR_subnet_a=Dev-App-A
          TF_VAR_subnet_b=Dev-App-B

          TF_VAR_dev_app_url=https://dev.sandbox.otp.loginproxy.gov.bc.ca
          TF_VAR_dev_custom_domain_name=dev.sandbox.otp.loginproxy.gov.bc.ca
          TF_VAR_dev_cors_origins=https://dev.sandbox.loginproxy.gov.bc.ca
          TF_VAR_dev_task_cpu=256
          TF_VAR_dev_task_memory=512
          TF_VAR_dev_task_container_cpu=256
          TF_VAR_dev_task_container_memory=512
          TF_VAR_dev_task_container_port=3000
          TF_VAR_dev_rds_min_capacity=0
          TF_VAR_dev_rds_max_capacity=2
          TF_VAR_dev_rds_scale_down_time=3600

          TF_VAR_test_app_url=https://test.sandbox.otp.loginproxy.gov.bc.ca
          TF_VAR_test_custom_domain_name=test.sandbox.otp.loginproxy.gov.bc.ca
          TF_VAR_test_cors_origins=https://test.sandbox.loginproxy.gov.bc.ca
          TF_VAR_test_task_cpu=256
          TF_VAR_test_task_memory=512
          TF_VAR_test_task_container_cpu=256
          TF_VAR_test_task_container_memory=512
          TF_VAR_test_task_container_port=3000
          TF_VAR_test_rds_min_capacity=0
          TF_VAR_test_rds_max_capacity=2
          TF_VAR_test_rds_scale_down_time=3600

          TF_VAR_prod_app_url=https://sandbox.otp.loginproxy.gov.bc.ca
          TF_VAR_prod_custom_domain_name=sandbox.otp.loginproxy.gov.bc.ca
          TF_VAR_prod_cors_origins=https://sandbox.loginproxy.gov.bc.ca
          TF_VAR_prod_task_cpu=256
          TF_VAR_prod_task_memory=512
          TF_VAR_prod_task_container_cpu=256
          TF_VAR_prod_task_container_memory=512
          TF_VAR_prod_task_container_port=3000
          TF_VAR_prod_rds_min_capacity=0
          TF_VAR_prod_rds_max_capacity=2
          TF_VAR_prod_rds_scale_down_time=3600
          TF_VAR_enable_grafana=true
          TF_VAR_grafana_kc_url=${{ vars.GRAFANA_OAUTH_BASE_URL }}
          TF_VAR_grafana_kc_client_id=${{ secrets.GRAFANA_OAUTH_CLIENT_ID }}
          TF_VAR_grafana_kc_client_secret=${{ secrets.GRAFANA_OAUTH_CLIENT_SECRET }}
          EOF

      - name: Set production environment variables
        if: github.event.workflow_run.head_branch == 'main'
        run: |
          cat >> $GITHUB_ENV <<EOF
          TF_STATE_BUCKET_NAME=otp-provider-tf-production
          TF_VAR_otp_image_tag=${{ env.IMAGE_TAG }}
          TF_VAR_subnet_a=Prod-App-A
          TF_VAR_subnet_b=Prod-App-B

          TF_VAR_dev_app_url=https://dev.otp.loginproxy.gov.bc.ca
          TF_VAR_dev_custom_domain_name=dev.otp.loginproxy.gov.bc.ca
          TF_VAR_dev_cors_origins=https://dev.loginproxy.gov.bc.ca
          TF_VAR_dev_task_cpu=256
          TF_VAR_dev_task_memory=512
          TF_VAR_dev_task_container_cpu=256
          TF_VAR_dev_task_container_memory=512
          TF_VAR_dev_task_container_port=3000
          TF_VAR_dev_rds_min_capacity=0.5
          TF_VAR_dev_rds_max_capacity=2
          TF_VAR_dev_rds_scale_down_time=36000

          TF_VAR_test_app_url=https://test.otp.loginproxy.gov.bc.ca
          TF_VAR_test_custom_domain_name=test.otp.loginproxy.gov.bc.ca
          TF_VAR_test_cors_origins=https://test.loginproxy.gov.bc.ca
          TF_VAR_test_task_cpu=256
          TF_VAR_test_task_memory=512
          TF_VAR_test_task_container_cpu=256
          TF_VAR_test_task_container_memory=512
          TF_VAR_test_task_container_port=3000
          TF_VAR_test_rds_min_capacity=0.5
          TF_VAR_test_rds_max_capacity=2
          TF_VAR_test_rds_scale_down_time=36000

          TF_VAR_prod_app_url=https://otp.loginproxy.gov.bc.ca
          TF_VAR_prod_custom_domain_name=otp.loginproxy.gov.bc.ca
          TF_VAR_prod_cors_origins=https://loginproxy.gov.bc.ca
          TF_VAR_prod_task_cpu=256
          TF_VAR_prod_task_memory=512
          TF_VAR_prod_task_container_cpu=256
          TF_VAR_prod_task_container_memory=512
          TF_VAR_prod_task_container_port=3000
          TF_VAR_prod_rds_min_capacity=0.5
          TF_VAR_prod_rds_max_capacity=2
          TF_VAR_prod_rds_scale_down_time=36000
          TF_VAR_enable_grafana=true
          TF_VAR_grafana_kc_url=${{ vars.GRAFANA_OAUTH_BASE_URL }}
          TF_VAR_grafana_kc_client_id=${{ secrets.GRAFANA_OAUTH_CLIENT_ID }}
          TF_VAR_grafana_kc_client_secret=${{ secrets.GRAFANA_OAUTH_CLIENT_SECRET }}
          EOF

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.SSO_AWS_GH_ACTIONS_DEPLOYER }}
          aws-region: ca-central-1

      - name: Terraform Variables
        run: |
          cat >"config.tf" <<EOF
          terraform {
            backend "s3" {
              bucket         = "${{ env.TF_STATE_BUCKET_NAME }}"
              key            = "${{ env.TF_STATE_BUCKET_KEY }}"
              region         = "${{ env.TF_STATE_BUCKET_REGION }}"
              use_lockfile   = true
            }
          }
          EOF
        working-directory: ./docker/otp-provider/terraform

      - name: Terraform Init
        id: init
        run: terraform init -upgrade
        working-directory: ./docker/otp-provider/terraform

      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color
        working-directory: ./docker/otp-provider/terraform
        continue-on-error: true

      - name: Terraform Plan Status
        if: steps.plan.outcome == 'failure'
        run: exit 1

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: ./docker/otp-provider/terraform
